@font-face {
	font-family: 'myFont';
	src: url('fonts/coolvetica rg.ttf')  format('truetype');
}
@font-face {
	font-family: 'myFontBis';
	src: url('LEMONMILK-Light.otf') format('truetype');
}
body>div {
	display: flex;
	justify-content: center;
}



div.content {
	font-family: 'myFont', Fallback , sans-serif;
	background: repeat-y url("images/background.jpg");
	
	width: 1050px;
	height: 1485px;

	border: 2px solid;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.8);

	display: flex;
	flex-direction: row;
	justify-content: center;
}

div.box.left>div {
	margin-bottom: 50px;
}

div.box:nth-child(1) {
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.1);
}

div.box:nth-child(2) {
	margin-left: 10px;
}

div.line {
	margin: 5px;
	display: flex;
	flex-direction: row;
	justify-content: left;
}
div.line.git {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

div.column {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

div.xp {
	margin: 0 5px;
	padding: 5px;
	width: 232px;

	border-left: 2px solid;
	border-right: 2px solid;
	border-radius: 30px;

	background-color: rgba(0, 0, 0, 0.05);
}

div.xp h1 {
	font-size: 20px;
}

div.xp p {
	font-size: 15px;
}



p {
	font-size: 19px;
	color: black;
	margin: 10px;
	text-align: justify;
}

p.right {
	text-align: right;
}

a {
	text-decoration: none;
	color: blue;
}

h1 {
	font-size: 35.2px;
	color: black;
	margin: 15px;
}

h2 {
	text-align: right;
	font-size: 48px;
	color: black;
	margin: 15px;
}

h3 {
	font-size: 32px;
	color: black;
	margin: 40px 10px 10px 100px;
}

ul {
	margin: 0;
}

li {
	color: black;
	margin: 10px;
}

ol {
	list-style-type: upper-roman;
}

div.profil {
	padding: 5% 0%;
	display: flex;
	justify-content: center;
}

div.profil>img {
	width: 230px;
	border-radius: 50%;
}


h5.bande {
	margin: 2% 0;
	padding: 1% 0 1% 10%;

	font-family: 'myFontBis', Fallback , sans-serif;
	font-size: 32px;
	color: white;
}

div.box>div:nth-child(2)>h5.bande {
	background-color: rgb(253,118,120);
}

div.box>div:nth-child(3)>h5.bande {
	background-color: rgb(169,195,69);
}

div.box>div:nth-child(4)>h5.bande {
	background-color: rgb(125,163,182);
}

div.box>div:nth-child(5)>h5.bande {
	background-color: rgb(247,147,29);
}