.box {
	height: 400px;

	margin: 10px 10% 10px 10%;

	display: flex;
	justify-content: space-between;

	border: 2px solid rgba(0,0,0,0);
}

.box:hover {
	border: 2px solid rgba(0,0,0,0.4);
	background-color: rgba(0,0,0,0.1);
	box-shadow: 8px 10px 10px rgba(0,0,0,0.4); 
}

.box:nth-child(odd) {
	flex-direction: row-reverse;
}


/*css des case*/
.case {
	height: 100%;
	width: 49%;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}



.case img {
	height: 100%;
	max-width: 100%;
	object-fit: cover;
}