/* header */

header {
	margin: 0;
	padding: 0;
	height: 75px;
	background-color: rgba(0,0,0,0.85);
	width: 100%;
	position: fixed; /* on fixe le header pour qu'il soit toujours affiché sur l'écran*/
	top: 0; /* on le colle en haut de l'écran */
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none; /* on veut supprimer le petit point qui est mit par défaut devant chaque élément de la liste */
	overflow: hidden; /* on ne veut voir le menu burger que quand on a cliqué sur le bouton dédié, donc il est caché en permanence */
}

.header li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none; /* on supprime le soulignage des liens */
}

.header li a:hover,
.header .menu-btn:hover {
	color: grey; /* lorsqu'on survole un lien, la police devient blanche pour mettre le titre en évidence */ 
}

.header .logo {
	display: block;
	float: left; /* le logo doit être collé à gauche par défaut*/
	margin-left: 2vh;
	margin-top: 1vh;
}

/* menu icon */

.header .menu-icon {
	cursor: pointer; /* quand on survole le bouton, le curseur devient un pointeur qui indique à l'utilisateur qu'il peut utiliser cette fonctionnalité */
	display: block;
	float: right; /* le bouton se colle à droite par défaut */
	margin-top: 1vh;
	padding: 28px 20px;
	position: relative;
}

.header .menu-icon .crossbtn {
	background: rgb(255, 255, 255);
	display: block;
	height: 2px;
	position: relative;
	width: 18px;
}

.header .menu-icon .crossbtn:before,  /* crossbtn:before signifie la barre du haut du bouton du menu urger */
.header .menu-icon .crossbtn:after {  /* de même, mais pour la barre du bas du bouton*/
	background: rgb(255, 255, 255);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .4s ease-out; /* l'animation de l'icone burger se transformant en croix dure 0.4s */
	width: 100%;
}

.header .menu-icon .crossbtn:before { /* le premier trait se trouve à 5px au dessus de celui du milieu */
	top: 5px;
}

.header .menu-icon .crossbtn:after { /* le troisième se trouve 5px en dessous*/
	top: -5px;
}

/* menu btn */

.header .menu-btn {
	display: none;	/* par défaut, le bouton n'est jamais affiché, on ne l'affichera que pour les petits écrans */
}

.header .menu-btn:checked ~ .menu {
	max-height: 700px; /* avec la fonction du bouton, si il a été cliqué, il peut dérouler au maximum 700px */
}

/* ici, on veut transformer le logo du menu burger en croix lorsqu'on cliquera dessus */

.header .menu-btn:checked ~ .menu-icon .crossbtn { /* la barre du milieu du menu burger devient transparente*/
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .crossbtn:before { /* celle du dessus s'incline à 45deg vers le bas*/
	transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .crossbtn:after { /* celle du bas s'incline à 45deg vers le haut*/
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .crossbtn:before, 
.header .menu-btn:checked ~ .menu-icon:not(.steps) .crossbtn:after {
	top: 0;
}

.header img, .footer img { /* on veut éviter l'effet d'ombre et le contour sur les images car cela peut être demandé dans le style de la page en question */
	box-shadow: none;
	border: 0;
}

.header .menu {
	display: flex; /* le menu du header s'affiche sous forme de liste horizontale*/
	flex-direction: row;
	justify-content: space-around; /* ici, on fait en sorte que peu importe la taille d'écran, les boutons seront régulièrement espacés sans se chevaucher*/

	clear: none; 
	max-height: none;
	margin-top: 1vh; 
}

.header .menu-icon {  /* l'icone clickable du menu burger ne s'affiche jamais*/
	display: none;
}

/* MENU DEROULANT */
ul li ul {  /* Rend le menu déroulant caché par défaut */
    display:none; 
} 
     
ul li:hover ul { /* Affiche le sous menu au survol de la souris */
	display: block;
	margin-left: 17px;
	padding-top: 10px;
    position:absolute;
    background-color:rgba(0,0,0,0.85);
}

body {
	margin: 100px 0 0 0; /* pour ne pas arriver sur la page avec le header qui chevauche le contenu, on met une marge en haut*/
}

footer {
	height: 500px;
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0,0.90);
	position: relative;
	bottom: 0; /* le pied de page est collé en bas de la page */
}

.footer .colonne li {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.888vh;
}

.footer .colonne {
	display: flex;
	flex-direction: column;
}

.footer .lescolonnes { /* la section qui comprend les 3 colonnes du pied de page*/
	display: flex;
	border-bottom: solid #4C4C4C; /* elle délimite la suite avec une ligne juste en dessous */
	border-width: 0.166vh; /* cette dernière est fine*/
	width: 85%; /* la section n'occupe pas toute la largeur pour que le pied de page reste aéré*/
	justify-content: space-between; /* les 3 colonnes sont également réparties pour occuper toute la largeur */
	margin: auto; /* on assure qu'après le width: 85%; le contenu ne sera pas collé à gauche, mais sera centré */
}

.footer .lescolonnes a { /*les éléments de la section qui sont des liens*/
	color: white;
	text-decoration: none;
}

.footer .lescolonnes .listecolonne { /* du padding sur chaque liste de la section permettra d'aérer la section*/
	padding-right: 1.11vh;
	padding-left: 1.11vh;
}

.footer .lescolonnes p { /*le texte de la section du pied de page sera gris, sans marge, de 3vh et annulera les effets appliqués par le style des pages*/
	color: #6A6363;
	margin-bottom: 0;
	font-size: 3vh; 
	font-weight: normal;
}

.footer .dessous{ /* on pointe la section qui se trouve après le trait de la section .lescolonnes, celle qui est donc dessous */
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 85%;
	margin: auto; /* les éléments sont automatiquement centrés par rapport à la place qu'ils peuvent occuper*/
}

.footer .dessous p { /*le texte de cette dernière section sera gris, de 2vh et sans effets*/
	color: #6A6363;
	font-size: 2vh; 
	font-weight: normal;
}

/*TEXT FORMAT*/
.footer p {
	font-family: ff-zwo-web,arial, sans-serif;
	font-size: 15px;
	color: black;
	text-align: left;
}


.footer a {
	font-family: ff-zwo-web,arial, sans-serif;
	text-decoration: none;
	color: gray;
}

.header p {
	font-family: ff-zwo-web,arial, sans-serif;
	font-size: 15px;
	color: black;
}

.header h1 {
	font-family: ff-zwo-web,arial, sans-serif;
	text-align: center;
	font-size: 25px;
	color: black;
}

.header a {
	font-family: ff-zwo-web,arial, sans-serif;
	text-decoration: none;
	color: white;
}

/*Pour les PC*/
@media (max-width: 1500px){ /* pour les écrans de moins de 1500px */
	.header .menu {
		flex-direction: column; /* la liste devra se dérouler verticalement pour être efficace sous petit écran*/
		clear: both; /* on force le menu burger à se dérouler en dessous du header avec un clear */
		max-height: 0;
		transition: max-height .5s ease-out; /* l'animation de l'affichage du menu burger se fait en 0.5s */
		background-color: rgba(0,0,0,0.85);
	}

	ul li:hover ul { /* Affiche le sous menu au survol de la souris */
		display: flex;
		flex-direction: row;
		margin: 0;
		position: relative;
		background-color:rgba(0,0,0,0.85);
	}

	.header .menu-icon { /* sous petit écran, on affiche l'icone qui permettra d'ouvrir le menu burger*/
		display: inline;
	}
}

@media (max-width: 1000px){

	header {
		height: 125px;
	}

	.header .logo {
		margin-top: 1.5vh;
	}

	.header .menu-icon {
		margin-top: 2vh;
	}

	body {
		margin-top: 150px;
	}

	footer{
		height: 1400px;
	}
	.footer .lescolonnes {
		flex-direction: column;
	}

	.footer .lescolonnes p {
		font-size: 3em;
		margin: 0;
	}
}