@font-face {
    font-family: 'myFont';
    src: url('fonts/coolvetica rg.ttf')  format('truetype');
}

body {
    font-family: 'myFont', Fallback , sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;

    /*background: linear-gradient(to bottom right, rgb(40, 40, 40), rgb(0, 0, 0));*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-shadow: black 0 0 10px;
    color: white;
}


/*basics*/

img {
    height: 14vh;
    margin: 5px;
}

.inline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inline>div {
    margin: 10px 30px;
}


a {
    text-decoration: none;
    color: white;
    transition-duration: 2s;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

a:hover {
    border-bottom: 2px solid white;
}


/*
SPECIAL
*/

a.hiddentext h2, a.hiddentext p {
    font-size: 0;
    transition-duration: 0.7s;
    margin: 0;
}
a.hiddentext:hover h2 {
    font-size: 5vh;
}

a.hiddentext:hover p {
    font-size: 2vh;
}

img.github {
    border: white solid 0.1vh;
    border-radius: 100%;
    background-color: white;
}

.works img {
    border: 1px rgba(40, 40, 40, 1) solid;
    border-radius: 20px;
}


/*
TITLE
*/

h1 {
    text-align: center;
    font-size: 5vh;
    transition-duration: 1s;
}

.subtitle img {
    height: 9vh;
}

/*
CENTER
*/

.center>div {
    min-width: 40vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1250px) {
    .center {
        flex-direction: column;
    }
    .center>div {
        margin: 100px 0;
        padding: 70px;

        border-radius: 100px;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

/*
BOTTOM
*/

footer {
    /*
    background-color: black;
    min-width: 40vw;
    border-radius: 30px 30px 0 0;
    */
    padding: 5px;
}

footer img {
    height: 6vh;
}

footer a.hiddentext:hover h2 {
    font-size: 2vh;
}